@import '_vars';





.hide-on-mobile{
display:none;
}

@media (min-width: 767px){
    .show-on-mobile{ 
    display: none;
    }
    .hide-on-mobile{
        display: block;
    }

}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}


// FLEX
.flex {
    display: flex;
}

.flex-space-between{
    justify-content: space-between; 
}

.align-space-around{
    align-content: space-around;
}


.flex-space-around{
    justify-content: space-around; 
}

.flex-space-evenly{
    justify-content: space-evenly; 
}

.column{
    flex-direction: column;
}


.wrap{
    flex-wrap: wrap;
}
// FONT HELPERS
.bold {
    font-weight: bold;
}
.align-self-center{
    align-self: center;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-contesct-end{
    justify-content: flex-end;
}

.outline-second-color{
    outline: 3px solid $second-color;
}
.border-bottom-second-color {
    border-bottom: 3px solid $second-color;
} 

.main-color {
    color: $main-color;
}

.second-color {
    color:  $second-color;  
    // color: #888888;    
    // color: #ffff9d;    
}

.main-background {
    background-color: $main-color;
}

.second-background {
    background-color: $second-color;
    // background-color: #888888;
}


h1.main-color {
    font-size: 1.5em;
}