@import '_vars';

// FLEX
.flex {
    display: flex;
}

.flex-space-between{
    justify-content: space-between; 
}

.align-space-around{
    align-content: space-around;
}


.flex-space-around{
    justify-content: space-around; 
}

.flex-space-evenly{
    justify-content: space-evenly; 
}

.column{
    flex-direction: column;
}


.wrap{
    flex-wrap: wrap;
}
// FONT HELPERS
.bold {
    font-weight: bold;
}
.align-self-center{
    align-self: center;
}
.align-items-center{
    align-items: center;
}

.justify-contesct-end{
    justify-content: flex-end;
}

.outline-second-color{
    outline: 3px solid $second-color;
}
.border-bottom-second-color{
    border-bottom: 3px solid $second-color;
} 
