// FLEX
.flex{
    display: flex;
}

.flex-space-between{
    justify-content: space-between; 
}

.flex-space-around{
    justify-content: space-around; 
}

.flex-space-evenly{
    justify-content: space-evenly; 
}

