// colors

$main-color: #bbc6d0;
$second-color: #fff7f0;



// $input-bcg:#a4c7e7;
$bg-color: rgb(245, 214, 214);


.main-color {
    color: #a26ea1
}

.second-color {
    color: #888888;    
    // color: #ffff9d;    
}

.main-background {
    background-color: #a26ea1;
}

.second-background {
    background-color: #888888;
}


h1.main-color {
    font-size: 1.5em;
}