// colors

$main-color: #bbc6d0;
$second-color: #fff7f0;



// $input-bcg:#a4c7e7;
$bg-color: rgb(245, 214, 214);


.main-color {
    background-color: #ffff9d;    
}

.second-color {
    color: #455064
}

.main-color-background {
    background-color: #a26ea1;
}